.app-wrapper {
  display: grid;
  grid-template-areas: 
  " h h"
  " n c";
  grid-template-rows: 100px auto;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  padding: 10px;
  max-width: 1200px;
   
 /* background: #001628;
  scrollbar-color: #666 #201c29;*/
  
  margin: 0 auto;
}

.header{
grid-area: h;
display: grid;
gap: 1rem;
grid-auto-flow: column;
/*border-radius: 40px 40px 0 40px;*/
box-shadow: 1px 2px 4px 1px #00000033;
padding: 10px;
  border-radius: 10px 10px;
  overflow: hidden;
  border: solid 1px #00000033;

}
.header img{
 
 max-width: 60px;
 overflow: hidden;
 padding: 10px 0 0 10px;
  
}

.nav {
grid-area: n;
box-shadow: 1px 2px 4px 1px #00000033;
padding: 20px;
border: solid 1px #00000033;
border-radius: 10px 10px;
}

.content {
grid-area: c;
/*backgroung-color:#d1ebff;*/
padding: 20px;
box-shadow: 0 2px 4px 0 #00000033;
border: solid 1px #00000033;
border-radius: 10px 10px;
max-width: auto;
}
.main-img img{
  max-width: 1000px;
  min-width: 800px;
  height: 300px;
  border-radius: 10px 10px;

}